WGA/Temp/UnityLockfile
WGA/Library/metadata/6e/6e16b09a01d80a24d88db1c525a8e9cc.info
WGA/Library/metadata/6e/6e16b09a01d80a24d88db1c525a8e9cc
WGA/Library/assetDatabase3
WGA/Assets/Skills/InputParametrs.meta
